{	
	"prettier.useTabs": true,
	"prettier.tabWidth": 4,
	"prettier.arrowParens": "avoid",
	"prettier.proseWrap": "never",
	"prettier.trailingComma": "none",
	"prettier.printWidth": 100,
	"prettier.jsxBracketSameLine": true,
	"prettier.singleQuote": false,
	"prettier.jsxSingleQuote": true,
	"prettier.quoteProps": "preserve"
}